.App {
  text-align: center;
}

.log-out-bt {
  padding: 0;
  border: none;
  background: none;
  border-radius: 10%;
}

.navbar {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-out-bt:hover {
  background-color: rgb(221, 218, 218);
}